<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
        <meta charset="UTF-8">
        <title>Ajouter une catégorie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
    
<body>
    <h1>Ajouter un tableau</h1>
    <form th:object="${tableau}" method="POST" th:action="@{save}">
        <div class="column">
            <label for="titre">Titre:</label>
            <input type="text" th:field="*{titre}" placeholder="Titre du tableau"/>
            <input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />
        </div>
        <div class="column">
            <label for="auteur">Auteur:</label>
            <input type="text" th:field="*{auteur}" placeholder="Auteur du tableau"/>
            <label for="support">Support:</label>
            <input type="text" th:field="*{support}" placeholder="Support du tableau"/>
            <label for="dimension">Dimension:</label>
            <input type="text" th:field="*{dimension}" placeholder="Dimension du tableau">
            </div>
        </form>
        <hr/>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
        <hr/>



</body>

</html>